# ==================================
# ASP.NET Core
# ==================================
## Carpeta bin y obj
[Bb]in/
[Oo]bj/

## Packages
[Pp]ackages/
*.nupkg
.vs/
.vs/

## Visual Studio
*.suo
*.user
*.config
*.pdb
*.pidb
*.dll
*.exe
*.log
*.ncb
*.scc
*.userprefs


## Rider
.idea/

# ==================================
# Angular
# ==================================
## Carpeta de compilación
/dist
/build

## Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

## Dependencias
/node_modules

## Archivos de configuración
.angular/
.vscode/

## Archivos de caché
.cache/
.eslintcache

## Archivos de test
/coverage

# ==================================
# macOS
# ==================================
.DS_Store